.preview-panel {
  @include panel;
  background-color: #95a5a6;
  @media #{$medium-up} {
    min-height: 80vh;
    max-height: 80vh;
    overflow: hidden;
  }
  img {
    margin: rem-calc(10) 0;
  }
}

.slide {
  @include grid-row;
}

.scol, .mcol {
  @include grid-column($columns: 12);
}

.tempimg {
  background-image: url("https://placehold.it/1200&text=img");
  height: 80vh;
  margin: 10px;
}

.bcg-img {
  height: 100%;
  width: 100%;
  background-color: red;
}