.profile {
  .picture, .info {
    @include grid-column(12);
  }
  .portrait {
    background-color: purple;
    width: 70%;
    height: 50vh;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("http://lorempixel.com/500/1200/people/");
  }
  .skills-column {
    @include grid-column($columns: 6, $collapse: 12);
  }
  @media #{$medium-up} {
    .picture {
      @include grid-column(5);
    }
    .info {
      @include grid-column(7);
    }
  }
}