// settings
$black: #000000;
$gray-mist: #999999;
$white: #FFFFFF;

// Typography
$primary-font-color: $black;
$primary-link-color: $gray-mist;
$primary-link-color--hover: $black;

// Mobile Navigation
$topbar-bgc: $white;
$menu-link-bgc: $white;
$overlay-bgc: rgba($white, 0.9);

// Navigation
$menu-link-fc: $gray-mist;
$menu-link-fc--hover: $black;
$menu-link-fc--active: $black;

// Project Detail
$dotted-border-color: $black;

// Social List
$icon-fill-color: $gray-mist;
$icon-fill-color--hover: $black;